html {
  font-family: Barlow, sans-serif;
}

.semi-bold {
  font-weight: 600;
}

.masthead {
  background-image: url("../images/hero-banner-gradient.svg");
  background-size: 100%;
  background-color: #ff0000;
}

.hero-banner {
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo {
  width: 100%;
}

.bungee {
  font-family: Bungee, sans-serif;
}

em {
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: Bungee, sans-serif;
}
